/gi_critique/forks/marginalia.org~
/.DS_Store
/*/.DS_Store
/forskningsanknytning/.DS_Store
/forskningsanknytning/releases/.DS_Store
/forskningsanknytning/releases/cempe_video/.DS_Store
*Store
/forskningsanknytning/releases/cempe_video/video/forskningsanknytning_cempe_rel.dra/MediaFiles/*.mkv
/instruments_ethics/instrument_ethics_presentation.org~
/instruments_ethics/instrument_ethics_slides.html~
/instruments_ethics/instrument_ethics_slides.org~
*.bbl
*.aux
*.aux
/antologi_om_improvisation/*.docx
*/video_presentation
*/*.DS_Store
/finding_reminding/*.DS_Store
